/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.leyenda p {
    margin-left: 5px;
    padding: 5px;
}

.user_avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 15px;
}

img {
    width: 100%;
}

#classroom_tablon .user_avatar {
    float:left;
}
