img {
    width: auto;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.leyenda p {
    margin-left: 5px;
    padding: 5px;
}

.user_avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 15px;
}

/* Classroom Module */

.text-block {
    position: absolute;
    left: 10px;
    top: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#class_presentation .classbg {
    filter: brightness(0.25);
    height: 197.75px;
    object-fit: cover;
    width: 100%;
}

#class_presentation .card h4 {
    font-weight: bold;
}

#class_presentation .card {
    max-width: 350px;
    min-width: 300px;
    height: auto;
    transition: transform .2s;
}

#class_presentation .card:hover {
    box-shadow: 2px 2px 20px #000;
    transform: scale(1.025);
}

#class_header .card-body {
    color: #FFF;
    object-fit: cover;
    background-op
    background: rgb(255, 111, 0);
    background: linear-gradient(90deg, rgba(255, 111, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    background-position: center center;
    background-size: 100% auto;
}

#class_header .card {
    width: auto;
    height: 90%;
}

#class_header .card .card-footer {
    padding-bottom: 0;
}

#class_header .card h4 {
    font-weight: bold;
}

#classroom_tablon .user_avatar {
    float: left;
}

#nuevoanuncio {
    transition: .2s;
    color: rgba(0, 0, 0, 0.549)
}

#nuevoanuncio:hover {
    border: 3px solid lightblue;
}

#nuevoanuncio:focus {
    border: 5px solid lightblue;
}

#class_message {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
}

#class_sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 240px;
}

@media screen and (max-width: 650px) {
    #class_sidebar {
        display: none;
    }
}

#class_menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#class_menu ul li {
    display: inline;
    margin: 0px 10px 0px 10px;
}

#class_work .col {
    text-align: center;
}

#class_work .col {
    min-width: 125px;
}
