img {
    width: auto;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.leyenda p {
    margin-left: 5px;
    padding: 5px;
}

.user_avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 15px;
}

/* Classroom Module */

.text-block {
    position: absolute;
    left: 10px;
    top: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#class_presentation .classbg {
    filter: brightness(0.25);
    height: 197.75px;
    object-fit: cover;
    width: 100%;
}

#class_presentation .card h4 {
    font-weight: bold;
}

#class_presentation .card {
    max-width: 350px;
    min-width: 300px;
    height: 197px;
    transition: transform .2s;
}

#class_presentation .card:hover {
    box-shadow: 2px 2px 20px #000;
    transform: scale(1.025);
}

#class_presentation .card .card-body h4, #class_presentation .card .card-body p {
    color: #FFF;
}

#class_header .card-body {
    color: #FFF;
    object-fit: cover;
    background-position: center center;
    background-size: 100% auto;
}

#class_header .card {
    width: auto;
    height: 90%;
}

#class_header .card .card-footer {
    padding-bottom: 0;
}

#class_header .card h4 {
    font-weight: bold;
}

#classroom_tablon .user_avatar {
    float: left;
}

#classroom_tablon .user_avatar_comments {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 15px;
    float:left;
}

#nuevoanuncio {
    transition: .2s;
    color: rgba(0, 0, 0, 0.549)
}

#nuevoanuncio:hover {
    border: 3px solid lightblue;
}

#nuevoanuncio:focus {
    border: 5px solid lightblue;
}

#class_title {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 50;
}

#class_sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 240px;
}

@media screen and (max-width: 650px) {
    #class_sidebar {
        display: none;
    }
}

#class_menu ul {
    list-style-type: none;
    padding: 0;
    padding: 10px;
    text-align: center;
}

#class_menu ul li {
    display: inline;
    margin: 0px 10px 0px 10px;
}

#class_work .col {
    text-align: center;
}

#class_work .col {
    min-width: 125px;
}

#nuevaactividadhub a.card {
    color: #333;
    transition: .2s;
}

#nuevaactividadhub a.card:hover {
    color: #333;
    border: #ff6f00 solid 3px;
}

#trabajodeclase_jquery_sortable {
    padding: 0;
}

#vista_recursos {
    transition: .2s;
}

#vista_recursos:hover {
    box-shadow: 0px 0px 5px #000;
}

#classroom_activity_msg {
    transition: .2s;
}

#classroom_activity_msg:hover {
    filter: saturate(50%);
}

#classroom_activity_msg .activitybcast {
    color: #333;
    margin-right: 5px;
    transform: rotate(-10deg);
}

div.comments {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

#contenidocomentario{
    padding: 47px;
}
/* Classroom Backgrounds */

.blue {
    background: rgb(0, 123, 255);
    background: linear-gradient(90deg, rgba(0, 123, 255, 1) 0%, rgba(13, 255, 252, 1) 100%);
}

.orange {
    background: rgb(255, 111, 0);
    background: linear-gradient(90deg, rgba(255, 111, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.indigo {
    background: rgb(102, 16, 242);
    background: linear-gradient(90deg, rgba(102, 16, 242, 1) 0%, rgba(232, 5, 249, 1) 100%);
}

.purple {
    background: rgb(111, 66, 193);
    background: linear-gradient(90deg, rgba(111, 66, 193, 1) 0%, rgba(191, 60, 207, 1) 100%);
}

.cyan {
    background: rgb(23, 162, 184);
    background: linear-gradient(90deg, rgba(23, 162, 184, 1) 0%, rgba(14, 196, 119, 1) 100%);
}
