img {
    width: auto;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.leyenda p {
    margin-left: 5px;
    padding: 5px;
}

.user_avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 15px;
}

/* Classroom Module */

.text-block {
    position: absolute;
    left: 10px;
    top: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#class_presentation .classbg {
    filter: brightness(0.25);
    height: 197.75px;
    object-fit: cover;
    width: 100%;
}

#class_presentation .card h4 {
    font-weight: bold;
}

#class_presentation .card {
    max-width: 350px;
    min-width: 300px;
    height: auto;
    transition: transform .2s;
}

#class_presentation .card:hover {
    box-shadow: 2px 2px 20px #000;
    transform: scale(1.025);
}

#class_header .classbg {
    filter: brightness(0.25);
    height: 100px;
    object-fit: cover;
}

#class_header .card {
    width: auto;
    height: 100px;
}

#class_header .card h4 {
    font-weight: bold;
}

#class_pte_act {}

#classroom_tablon .user_avatar {
    float: left;
}

#nuevoanuncio {
    transition: .2s;
    color: rgba(0, 0, 0, 0.549)
}

#nuevoanuncio:hover {
    border: 3px solid lightblue;
}

#nuevoanuncio:focus {
    border: 5px solid lightblue;
}

#class_message {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFF;
}

#class_sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#class_menu ul{
    list-style-type: none;
    padding: 0;
}
#class_menu ul li{
    margin: 0px 0px 10px 0px;
}

#class_menu a.active{
    color:red;
}
